# IDE
.vscode

# Meson build directories
_build
builddir
builddir-appimage
build

# AppImage build artifacts
AppDir
*.AppImage
linuxdeploy-x86_64.AppImage
linuxdeploy-plugin-gstreamer-x86_64.sh

# Flatpak (legacy)
.flatpak
.flatpak-builder
flatpak-build
*.flatpak
